<h2>{{title}}</h2>
<hr>
<p>Bienvenido a la página de inicio de la aplicación de películas.</p>
<p>Aquí puedes encontrar las últimas novedades y recomendaciones de películas.</p>
<p>Navega a través del menú para explorar nuestra colección de películas, crear nuevas peliculas o edita las existentes.</p>
<p>¡Disfruta de tu experiencia cinematográfica!</p>

<hr>
<nav>
    <a [routerLink]="['/crear']">Crear Nueva Película</a>
    -
    <a [routerLink]="['/lista-peliculas']">Ver Lista de Películas</a>
</nav>
